{% extends 'base.html' %}
{% load static %}

{% block title %}
 Cart
{% endblock %}

{% block content %}
{% include 'header.html' %}    

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-80 pb-120" >
            <div class="container" >
                <h3 class="cart-page-title pb-3">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12" >
                        <div id="empty_cart" class="text-center">

                        </div>
                        <form action="" id="cart_form">
                            <div class="table-content table-responsive cart-table-content">
                                <table >
                                    <thead >
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Discounted Price</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart_items">
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="{%url 'products' %}">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            
                                                {% csrf_token %}
                                            <button onclick="update_cart()">Update Cart</button>
                                            <button onclick="clear_cart()">Clear Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-between">
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span id="total_price"></span></h5>
                                    <h5>Your profit from the purchase:<span id="profit"></span></h5>
                                    <h4 class="grand-totall-title">Grand Total <span id="grand_price"></span></h4>
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% include 'footer.html' %}

    <script>
     window.onload= function() {
            const url ="api/v1/"
            fetch(url,{
                method:'GET',
                headers:{
                    'Authorization':`Bearer ${window.localStorage.getItem("access_token")}`
                }
            })
            .then(
                response=>{
                    if (response.ok){
                        return response.json();
                    }
                    else  {
                        if (response.status==401){
                            refresh_token(location.href)
                        }else{
                            throw new Error('not connected');
                        }
                    }
                }
            )
            .then((data) => {
                
                load_cart_data(data)
                })
            .catch(function(error) {
                console.log(error);
            });                    
        }
        function load_cart_data(data) {
            let cart = data.cart_items;
            let main=document.getElementById("cart_items")
            if (cart.length==0){
                document.getElementById("cart_form").hidden=true
                let h3 = document.createElement('h3');
                let empty_img =document.createElement('img');
                empty_img.src="/static/images/empty-cart.svg"
                h3.innerHTML = "Your cart is empty . . .";
                h3.classList.add("p-3")
                let empty_cart = document.getElementById("empty_cart")
                empty_cart.appendChild(empty_img)
                empty_cart.appendChild(h3)
            }
                cart.map(function(cart_item) {
                    const base_url = window.location.href.split("/cart").at(-2);
                    let tr = document.createElement('tr');
                    tr.id = `r${cart_item.product.id}`

                    let td_img = document.createElement('td');
                    td_img.classList.add('product-thumbnail');
                    a_img = document.createElement('a');
                    a_img.href = `${base_url}/product/${cart_item.product.slug}`
                    img = document.createElement('img');
                    img.style.height="112px"
                    img.src=cart_item.product.images[0].image
                    img.alt="product_image"
                    a_img.appendChild(img)
                    td_img.appendChild(a_img)
                    tr.appendChild(td_img);

                    let td_name = document.createElement('td');
                    td_name.classList.add('product-name');
                    a_name = document.createElement('a');
                    a_name.href = `${base_url}/product/${cart_item.product.slug}`
                    a_name.innerHTML=cart_item.product.title
                    td_name.appendChild(a_name)
                    tr.appendChild(td_name);

                    let td_price = document.createElement('td');
                    td_price.classList.add('product-price-cart');
                    span_price = document.createElement('a');
                    span_price.classList.add('amount');
                    span_price.innerHTML=cart_item.product.price
                    td_price.appendChild(span_price)
                    tr.appendChild(td_price);

                    let td_discounted_price = document.createElement('td');
                    td_discounted_price.classList.add('product-price-cart');
                    span_discounted_price = document.createElement('a');
                    span_discounted_price.classList.add('amount');
                    span_discounted_price.innerHTML=cart_item.product.discounted_price
                    td_discounted_price.appendChild(span_discounted_price)
                    tr.appendChild(td_discounted_price);

                    let td_quantity = document.createElement('td');
                    td_quantity.classList.add('product-quantity', 'pro-details-quality');
                    let div_quantity = document.createElement('div');
                    div_quantity.classList.add('cart-plus-minus');
                        let div_minus = document.createElement('div');
                        div_minus.classList.add('qtybutton','dec');
                        div_minus.innerHTML="-"
                        div_minus.setAttribute("onclick",`decrease_item(${cart_item.product.id})`);
                    div_quantity.appendChild(div_minus)
                        let input = document.createElement('input');
                        input.classList.add('cart-plus-minus-box');
                        input.id=`q${cart_item.product.id}`
                        input.type="text"; 
                        input.name=cart_item.product.id
                        input.value=cart_item.quantity
                    div_quantity.appendChild(input)
                        let div_plus = document.createElement('div');
                        div_plus.classList.add('qtybutton','inc');
                        div_plus.innerHTML="+"
                        div_plus.setAttribute("onclick",`add_item(${cart_item.product.id})`);
                    div_quantity.appendChild(div_plus)
                    td_quantity.appendChild(div_quantity)
                    tr.appendChild(td_quantity);

                    let td_subtotal = document.createElement('td');
                    td_subtotal.classList.add('product-subtotal');
                    td_subtotal.innerHTML=(+cart_item.product.price)*(+cart_item.quantity)
                    tr.appendChild(td_subtotal);

                    let td_remove = document.createElement('td');
                    td_remove.classList.add('product-remove');
                        a_remove = document.createElement('a');
                            i_remove= document.createElement('i');
                            i_remove.classList.add("icon_trash")
                        a_remove.appendChild(i_remove)
                        a_remove.setAttribute("onclick",`remove_item(${cart_item.product.id})`);
                    td_remove.appendChild(a_remove)
                    tr.appendChild(td_remove);

                    main.appendChild(tr);
                });
                grand_price =document.querySelector("#grand_price")
                grand_price.innerHTML= `$${data.grand_price}`
                total_price =document.querySelector("#total_price")
                total_price.innerHTML= `$${data.total_price}`
                profit =document.querySelector("#profit")
                profit.innerHTML= `$${Number(data.total_price)-Number(data.grand_price)}`
        }
        function add_item(ItemId) {
            let quantity=document.getElementById(`q${ItemId}`)
            quantity.value=Number(quantity.value)+1
        }
        function decrease_item(ItemId) {
            let quantity=document.getElementById(`q${ItemId}`)
            quantity.value=Number(quantity.value)-1        
            if (quantity.value <=0){
                remove_item(ItemId)
            }
        }
        function remove_item(ItemId) {
            let quantity=document.getElementById(`r${ItemId}`)
            quantity.remove()
        } 

        function clear_cart(){
            const url ="api/v1/"
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(url,{
                method:'DELETE',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Authorization':`Bearer ${window.localStorage.getItem("access_token")}`,
                }
            }) 
            .catch(function(error) {
                console.log(error);
            });
        }

        function update_cart(){
            const rows = document.querySelectorAll('#cart_items tr');
            const data = [];
            rows.forEach(row => {
                const productId = row.querySelector('input[type="text"]').name;
                const quantity = row.querySelector('input[type="text"]').value;
                data.push({ product_id: productId, quantity: quantity });
            });
            const url ="api/v1/"
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(url,{
                method:'PUT',
                body:JSON.stringify({ cart_items: data }),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization':`Bearer ${window.localStorage.getItem("access_token")}`,
                    'X-CSRFToken': csrftoken
                }
            })  
            .catch(function(error) {
                console.log(error);
            });
        }
    </script>
    {% endblock %}
