{% extends 'base.html' %}
{% load static %}

{% block title %}
 Login
{% endblock %}

{% block content %}
{% include 'header.html' %}    

   
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active">Login-Register</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-register-area pt-20 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="#" method="post" onsubmit="return sendData()" id="login">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                                            <div class="button-box">
                                                <button type="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% include 'footer.html' %}

        <script>
            function sendData () {
                var data = new FormData(document.getElementById("login"));
                let url = "/api/v1/accounts/login/"
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch(url, {
                    method: "POST",
                    body: data,
                    headers: {
                    'X-CSRFToken': csrftoken
                }
                })
                .then(res => {
                    if (res.status == 200){
                        window.location.href = "/accounts/verify_code";
                    }else{
                        throw new Error("Bad Server Response"); 
                    }
                    return res.text();
                })
                .then(res => console.log(res))
                .catch(err => console.error(err));
                    return false;
                }
        </script>
        {% endblock %}
    
